[submodule "Widgets/uBdead"]
	path = Widgets/uBdead
	url = https://github.com/WybrenKoelmans/BAR-Widgets.git
	branch = widgethub
[submodule "Widgets/community/time_weighted_team_stats"]
	path = Widgets/community/time_weighted_team_stats
	url = https://github.com/tetrisface/time_weighted_team_stats.git
	branch = main
